<ng-template [ngIf]="loading">
  <div class="full-h spinner">
    <mat-spinner [diameter]="125"></mat-spinner>
  </div>
</ng-template>

<ng-template [ngIf]="!loading">
  <div class="container">
    <div class="card" *ngFor="let item of collections" (click)="navigate(item.path, item.collection)">
      <img [ngSrc]="item.cover" [alt]="item.cover" placeholder [width]="width(item.path)" [height]="height(item.path)"
        [ngClass]="{ 'vertical-image': item.vertical, 'horizontal-image': !item.vertical }">
      <div class="label"> {{ item.name }} <mat-progress-spinner [diameter]="16" [mode]="'determinate'"
          [value]="finishMap.get(item.path)" [ngClass]="{
        'low': finishMap.get(item.path) <= 20,
        'medium': finishMap.get(item.path) > 20 || finishMap.get(item.path) < 90,
        'hight': finishMap.get(item.path) >= 90
        }">
        </mat-progress-spinner></div>
    </div>
  </div>
</ng-template>
