@if (loading()) {
  <div class="full-h spinner">
    <mat-spinner [diameter]="125"></mat-spinner>
  </div>
} @else {
  <div class="container">
    @for (item of collection(); track item.path) {
      <div
        class="card-frame"
        [style.background]="progressBorder(item.path)"
        (click)="navigate(item.path, item.collection)"
      >
        <div class="card">
          <div class="image-wrap">
            <img
              placeholder
              [src]="item.cover"
              [alt]="item.cover"
              [width]="width(item.path)"
              [height]="height(item.path)"
            >
          </div>
          <div class="label">
            {{ item.name }}
          </div>
        </div>
      </div>
    }
  </div>
}
