.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  .card {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: grid;
    place-items: center;
    min-height: 15vh;
    padding: 15px 0;

    .vertical-image {
      width: 200px;
      max-width: 200px;
      height: 100px;
      max-height: 100px;
      filter: brightness(0.75);
    }

    .horizontal-image {
      width: 100px;
      max-width: 100px;
      height: 200px;
      max-height: 200px;
      filter: brightness(0.75);
    }
  }
  .card:hover {
    cursor: pointer;
  }
}
