<div class="card">
  <div class="image">
    <img
      placeholder
      [src]="path()"
      [alt]="item().number"
      [width]="width()"
      [height]="height()"
      [ngClass]="{
        'vertical-image': isVertical(),
        'horizontal-image': !isVertical()
      }"
    >
    <div class="number">
      № {{ item().number }}
    </div>
  </div>

  <div class="details">
    <div class="status">
      @if (isReadonly()) {
        <div class="readonly">
          @if (itemHas()) {
            <span>✅</span>
          } @else {
            <span>❌</span>
          }
        </div>
      } @else {
        <div class="readable">
          <div class="has" [ngClass]="{ 'active': itemHas(), 'inactive': !itemHas() }" (click)="change({ has: true })">✅</div>
          <div class="absent" [ngClass]="{ 'active': !itemHas(), 'inactive': itemHas()}" (click)="change({ has: false })">❌</div>
        </div>
      }
    </div>
  </div>
</div>
