<div class="card">
  <div class="image">
    <img [src]="path" [alt]="item.number" placeholder [width]="width" [height]="height"
      [ngClass]="{ 'vertical-image': item.vertical, 'horizontal-image': !item.vertical }">
  </div>

  <div class="details">
    <div class="status">
      <ng-container *ngIf="readonly; else selection">
        <div class="readonly">
          <span *ngIf="item.has">✅</span>
          <span *ngIf="!item.has">❌</span>
        </div>
      </ng-container>
      <ng-template #selection>
        <div class="readable">
          <div class="has" [ngClass]="{ 'active': item.has, 'inactive': !item.has }" (click)="change({ has: true })">✅</div>
          <div class="absent" [ngClass]="{ 'active': !item.has, 'inactive': item.has}" (click)="change({ has: false })">❌</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
