.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  max-height: 250px;
  height: 250px;
  width: 250px;
  max-width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.05);
    transition-duration: 500ms;
  }
}

.image {
  max-height: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  .vertical-image {
    width: 100px;
    max-width: 100px;
    height: 200px;
    max-height: 200px;
    filter: brightness(0.75);
  }

  .horizontal-image {
    width: 200px;
    max-width: 200px;
    height: 100px;
    max-height: 100px;
    filter: brightness(0.75);
  }
}

.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  border-top: 1px solid #ddd;
  .readable {
    display: flex;
    gap: 20px;
    .has {
      border: 1px dotted #00d26a;
      padding: 5px 10px;
      border-radius: 5px;
      &.active {
        border: 1px solid #00d26a;
      }
      &.inactive {
        opacity: 0.7;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .absent {
      border: 1px dotted #f92f60;
      padding: 5px 10px;
      border-radius: 5px;
      &.active {
        border: 1px solid #f92f60;
      }
      &.inactive {
        opacity: 0.7;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
